@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Lora:wght@400;700&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: hsl(260, 20%, 97%);
  background-image: url(assets/watercolor-texture.jpg);
  color: hsl(0, 30%, 32%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  color: hsl(0, 67%, 19%);
  margin-bottom: 4rem;
  font-family: 'Lora', serif;
}

/* QUOTES */
.quote-container {
  width: auto;
  padding: 3rem;
  margin: auto 1rem;
  border-radius: 10px;
  border: none;
  background-color: hsla(0, 0%, 94%, 0.8);
  box-shadow: 0 1rem 1rem hsla(0, 26%, 19%, 0.2);
}

.quote-text {
  font-family: "Lora", serif;
  font-size: 2rem;
}

.quote-author {
  margin: 4rem auto;
  font-family: "Cinzel Decorative", cursive;
  font-size: 1.3rem;
}

button {
  cursor: pointer;
  font-size: 1.6rem;
  height: 2.6rem;
  border: 0.5px solid hsl(0, 26%, 19%);
  border-radius: 10px;
  color: hsla(0, 26%, 19%, 0.9);
  background: transparent;
  padding: 0.5rem 1.4rem;
  box-shadow: 0 0.3rem hsla(0, 26%, 19%, 0.4);
}

button:hover {
  background-color: hsla(0, 26%, 19%, 0.9);
}

button:active {
  transform: translate(0, 0.3rem);
  box-shadow: 0 0.1rem hsla(0, 0%, 100%, 0.65);
}

.fa-arrow-rotate-right {
  font-size: 1.7rem;
}

/* SHARE BUTTONS */
.twitter-button:hover {
  color: #1da1f2;
}
.facebook-button:hover {
  color: #1877f2;
}
.reddit-button:hover {
  color: #ff4500;
}
.linkedin-button:hover {
  color: #00a0dc;
}

.refresh-button:hover {
  color: hsl(43, 88%, 47%);
}

.share-buttons {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
}

.share-buttons > button {
  margin: 0.5rem;
  font-size: 1.6rem;
  color: hsl(0, 26%, 19%);
}
